<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085711319071-uudqvlj347ts5mioe6rajk7v1vkufkcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085711319071-uudqvlj347ts5mioe6rajk7v1vkufkcr</string>
	<key>API_KEY</key>
	<string>AIzaSyDJiGuDhXgAZ5usucCHHLB2lf_o84A5odQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1085711319071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiden.AnotherWorld</string>
	<key>PROJECT_ID</key>
	<string>anotherworld-2d5c7</string>
	<key>STORAGE_BUCKET</key>
	<string>anotherworld-2d5c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085711319071:ios:acd98e10ee19d720ab952a</string>
	<key>DATABASE_URL</key>
	<string>https://anotherworld-2d5c7-default-rtdb.firebaseio.com</string>
</dict>
</plist>